body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(2, 2, 36);
    color: white;
    margin: 0;
    padding: 0;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.login-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form-container {
    flex: 1;
    padding-right: 2rem;
}

.login-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
}

.login-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem; /* Added more space between form fields */
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.btn-primary {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-group input {
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    margin-top: 1rem; /* Space between the password field and button */
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.login-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image {
    max-width: 100%;
    height: auto;
}

/* Link */

.signup-link {
    margin-top: 1rem;
    text-align: center;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
